.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    

    &__item {
        margin-right: 0.875rem;
        position: relative;
        font-family: 'Circe';
        font-size: 0.875rem;
        text-decoration: none;
        color: #6BB0D3;
        font-weight: normal;

        &:hover {
            font-weight: 700;
        }

        &::after {
            position: absolute;
            font-size: 1.5625rem;
            content: ".";
            right: -0.625rem;
            top: -0.8125rem;
            color: #6BB0D3;
        }

        &:last-child::after {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }

}