@import "../../rootStyles/variables.scss";

.button {
    border: none;
    color: #fff;
    background-color: $button-color;
    border-radius: 1.25rem;
    padding: 1.4375rem 2.8125rem;
    font-size: 1rem;
    line-height: 130%;
    font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: 0.02em;

    &:hover {
        background-color: $button-color-hover;
    }
}