@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-Bold.woff") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Room';
    src: url("../../fonts/Room-Medium.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Room';
    src: url("../../fonts/Room-Bold.woff") format("truetype");
    font-style: 700;
    font-weight: normal;
  }
  