@import "media";
@import "mixins";
@import "root";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Базовые стили body
body {
    font-family: $mainFont;
    color: $mainColor;
    cursor: default;
}
section {
    position: relative;
}
//Создание базовых стилей для основных тегов
h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}
span {
}
a {
    color: $mainColor;
    display: inline-block;
    text-decoration: none;
}
svg {
    min-height: 1rem;
}
img {
    width: 100%;
}
blockquote {
}
// убирает цвет автокомплита у инпута
input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}
button {
    cursor: pointer;
}

//Стандартный враппер
.wrapper {
    margin: 0 auto;
    max-width: 83.75rem;
    position: relative;
    height: 100%;

    @media (max-width: 768px) {
        width: 90%;
    }
}
