$tablet-width: 768px;
$desktop-width: 1170px;

$background-menu-color: #F5FBFE;
$text-color: #002C3E;
$footer-color: #002C3E;
$text-color-hover: #095371;
$button-color: #8DC63F;
$button-color-hover: #A8D071;
$button-phone-color: #F15A22;
$button-phone-color-hover: #e67146;

$menu-hover: #00AAE7;
$bg-step-color: #E9F3F9;
