$tablet-width: 768px;
$desktop-width: 1170px;

$background-menu-color: #F5FBFE;
$text-color: #002C3E;
$text-color-hover: #095371;
$button-color: #F15A22;
$button-color-hover: #d86b44;

$menu-hover: #00AAE7;
