<!-- section data start -->
<section class="data">
    <div class="data__step step">
        <a class="step__back" href="#">назад</a>
        <div class="step__title">
            <span class="step__count">шаг 1</span>
            <span class="step__count">ввод данных</span>  
        </div>

        <div class="step__description">
            При бронировании необходимо указать корректные ФИО,
            номер телефона и email человека, который будет учавстовать в сделке
        </div>

        <div class="step__progressbar">

        </div>

        <span class="step__step__count">Шаг 1 из 3 </span>
        
    </div> 
    
    <div class="data__personal personal">
        <h2 class="personal__caption">Личные данные</h2>
        <form action="POST" class="personal__form">

            <label for="fio">Фамилия, имя, отчество</label>
            <input type="text" id="fio" class="personal__fio">

            <label for="citizenship">Я гражданин РФ</label>
        
            <input type="checkbox" id="citizenship" class="personal__citizen" checked>

            <select name="" id="" class="personal__birthdate">
                <option value="">Дата рождения</option>
            </select>

            <label for="passport" >Серия и номер паспорта</label>
            <input type="text" id="passport" class="personal__passport">

            <label for="phone">Мобильный телефон</label>
            <input type="phone" class="personal__phone" id="phone">

            <label for="email">E-mail</label>
            <input type="phone" class="personal__email" id="email">

            <label for="owners">Собственниками будут</label>
            <select name="" id="" class="personal__birthdate">
                <option value="">Собственниками будут</option>
            </select>

            <div class="personal__payment">
                <label class="personal__payment-label">
                    100% оплата
                    <input type="radio" name="payment__type">
                </label>
                <label class="personal__payment-label">
                    Рассрочка
                    <input type="radio" name="payment__type">
                </label>
                <label class="personal__payment-label">
                    Ипотека
                    <input type="radio" name="payment__type">
                </label>   
            </div>

            <button class="personal__button button">Подтвердить данные</button>


        </form>
    </div>
</section>

<!-- section data start -->
